.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  border-top: 1px solid var(--color-grey);
  border-bottom: 1px solid var(--color-grey);
  background: #e2c5b7;
}

.footer-links-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 200px;
  height: 250px;
  overflow: hidden;
  padding-left: 1rem;
  padding-right: 1rem;
}

.link-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.footer-container-title {
  width: 100%;
  text-align: left;
  font-weight: 500;
  font-size: 18px;
  text-transform: inherit;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
}

.footer-expand-icon {
  display: none;
}

.link-item > a {
  text-decoration: none;
  color: grey;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  height: 30px;
  width: 100%;
  text-align: left;
  margin: 0;
  padding: 0;
}

.link-item > a:hover {
  color: black;
}

.footer-container-img {
  object-fit: contain;
  width: 100%;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.link-item {
  color: grey;
  font-size: 0.9rem;
  font-weight: 400;
  text-align: center;
  flex-grow: 1;
}

@media screen and (max-width: 767px) {
  .footer-expand-icon {
    display: block;
    height: 25px;
    width: 25px;
    transform: rotate(0deg);
    transition: transform 200ms ease-in-out;
  }
  .footer-expand-icon.rotate {
    transform: rotate(-180deg);
  }

  .link-list {
    visibility: hidden;
    height: 0px;
    transition: height 200ms ease-in-out;
  }
  .list-expand {
    height: 150px;
    transition: height 200ms ease-in-out;
    visibility: visible;
  }

  .footer-links-container {
    height: auto;
  }
  .footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
