.msg-container {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  max-height: 200px;
  box-shadow: rgba(99, 114, 130, 0.5) 0px 1px 4px 0px;
  padding: 1rem;
  background: whitesmoke;
  border-radius: 5px;
  gap: 0;
  position: relative;
  margin-left: 1rem;
  margin-right: 1rem;
}

.submit-success-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  width: 100%;
  gap: 0.25rem;
}

.close-icon {
  width: 25;
  height: 25;
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}

.submit-message {
  font-family: Jost;
  font-weight: 500;
  width: auto;
}
