.product-page {
  width: 100%;
  height: 100%;
}

.product-body {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: white;
}

.imgs-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100px;
  height: 100%;
  gap: 1rem;
  overflow-y: auto;
}

.img-small {
  /* width: 85px; */
  max-width: 100%;
  height: auto;
  object-fit: contain;
  box-sizing: border-box;
  display: block;
}
.img-small:hover {
  border: 1px solid black;
}

.imgs-preview-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 700px;
  height: 500px;
  margin-right: 2rem;
  margin-left: 2rem;
}

.img-zoom {
  position: absolute;
  left: 20%;
  top: 0%;
  height: 100%;
}

.product-whole-page {
  background: white;
}

.product-description-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 40%;
  height: auto;
  gap: 1rem;
}

.description-container {
  width: 100%;
  height: auto;
}

.description-heading {
  width: 100%;
  text-align: left;
  margin: 0;
  font-family: Jost;
  font-weight: 400;
  font-size: 2rem;
  height: auto;
  line-height: 2rem;
}

.product-sku-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  font-size: 1rem;
  font-family: Jost;
  align-items: center;
  gap: 0.5rem;
}

.product-category-container {
  width: 100%;
  display: flex;
  font-size: 1rem;
  font-family: Jost;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.product-detailed-descrption-container {
  width: 100%;
  height: auto;
  border-top: 1px solid var(--color-grey-secondary);
}

.detailed-description-title {
  /* width: 100%; */
  text-align: left;
  margin: 0;
  font-family: Jost;
  font-weight: 400;
  padding-right: 1rem;
  font-size: 1.375rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.detailed-description-p {
  width: 100%;
  text-align: left;
  margin: 0;
  font-family: Jost;
  font-weight: 400;
  line-height: 1.75rem;
  padding-right: 1rem;
  /* height: 200px; */
  text-overflow: ellipsis;
}

.description-ul {
  line-height: 1.75rem;
  color: black;
}

.mobile-slider-container {
  display: none;
}

@media screen and (max-width: 767px) {
  .product-body {
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: 0;
  }
  .imgs-preview-container {
    display: none;
  }
  .mobile-slider-container {
    display: block;
    width: 90%;
    height: 640px;
  }
  .mobile-img-container {
    width: 500px;
    height: 600px;
  }
  .coursel-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .product-description-container {
    width: 90%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
