.products-page {
  width: 100%;
  flex-grow: 1;
  background: white;
  display: flex;
  flex-direction: column;
}
.category-page-body {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 1;
}

.products-page-title-container {
  width: 100%;
  height: 20%;
  background: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.products-page-title {
  width: 100%;
  text-align: center;
  font-family: Jost;
  font-size: 2rem;
  font-weight: 500;
}

.category-selector-panel-container {
  width: 100%;
  transition: height 200ms ease-in-out;
  border-bottom: 1px solid #e5e5e5;
}

.widget-container {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.category-selector-panel-container.collapse {
  height: 50px;
}
.category-selector-panel-container.expand {
  height: 200px;
}

.products-container {
  width: 70%;
  padding-left: 2rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.category-selector-list-container {
  display: flex;
  height: calc(100% - 50px);
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.category-selector-list-container button {
  border: none;
  width: 100%;
  cursor: pointer;
  color: black;
  padding-left: 1rem;
  margin: 0;
  text-align: left;
  height: 35px;
  font-family: Jost;
  font-size: 1rem;
  background: white;
  font-weight: 400;
}

.category-selector-list-container button:hover {
  color: #363636;
}

.category-selector-panel-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding-right: 1rem;
  height: 50px;
}
.category-selector-panel-header h3 {
  text-align: left;
  font-size: 1.5rem;
  font-family: Jost;
  font-weight: 500;
  padding-left: 1rem;
}

.category-selector-panel-header button {
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  background: white;
}

.category-selector-expand-icon {
  width: 25px;
  height: 25px;
  border: none;
  transform: rotateY(90);
}

.expand-more {
  animation: rotateUp 500ms forwards;
}

.expand-less {
  animation: rotateDown 500ms forwards;
}

.product-page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  width: 100%;
  height: 50px;
  position: relative;
  padding-left: 2rem;
}

.sort-btn {
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  cursor: pointer;
  color: grey;
  min-width: 100px;
}

.sort-options-container {
  display: flex;
  height: auto;
  flex-direction: column;
  min-width: 120px;
  position: absolute;
  box-shadow: rgba(99, 114, 130, 0.5) 0px 1px 4px 0px;
  border-radius: 0.5rem;
  overflow: hidden;
  z-index: 1000;
}

.sort-options-container button {
  border: none;
  color: grey;
  width: 100%;
  height: 40px;
  text-align: left;
  cursor: pointer;
}
.sort-options-container button:hover {
  background: var(--color-blue);
  color: white;
}

.product-ordering button {
  background: white;
  border: none;
  cursor: pointer;
}

.products-list-container {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: visible;
}

.product-card {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: start;
  align-items: center;
  box-sizing: border-box;
  padding-bottom: 1rem;
  padding-top: 1rem;
  border-bottom: 1px solid #e5e5e5;
}

.product-img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.product-img-container {
  width: 50%;
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.product-desc {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100%;
  width: auto;
  gap: 1rem;
}

.product-name {
  width: 100%;
  text-align: left;
  margin: 0;
  font-size: 1rem;
  font-family: Jost;
  font-weight: 500;
  margin-top: 1rem;
  color: #777777;
}

.product-summary {
  width: 100%;
  margin: 0;
  text-align: left;
  color: black;
  font-size: 1rem;
  font-family: Jost;
  text-overflow: ellipsis;
}

.sort-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 0.5rem;
  align-items: center;
  height: 100%;
  padding-right: 3rem;
}

.product-category-page {
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.product-row-container {
  width: 100%;
  height: 150px;
  display: block;
}

@keyframes rotateUp {
  from {
    transform: rotate(-180deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes rotateDown {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-180deg);
  }
}

@media screen and (max-width: 767px) {
  .widget-container {
    display: none;
  }
  .products-container {
    width: 100%;
    height: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .product-page-header {
    padding: 0;
  }
  .product-row-container {
    /* height: auto; */
    min-height: 500px;
  }
  .product-card {
    flex-direction: column;
    border: none;
  }
  .product-img-container {
    height: 60%;
    width: 100%;
  }
  .product-desc {
    width: 100%;
  }
  .product-name {
    width: 100%;
    text-align: center;
    font-size: 1.25rem;
  }
  .product-summary {
    width: 100%;
    text-align: center;
  }
}
