.search-container {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  /* width: 100%; */
}

.search-input {
  outline: none;
  border: 1px solid var(--color-grey);
  width: 300px;
  height: 40px;
}

.search-img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}
.search-banner-link {
  position: absolute;
  right: 60%;
  height: 70%;
  width: 35%;
}

.search-banner-container {
  height: 100%;
  flex-grow: 1;
  position: relative;
}

.search-input-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.search-icon {
  position: absolute;
  right: 1rem;
  height: 100%;
  color: grey;
}

.img-banner-name {
  font-size: 0.9rem;
  text-align: justify;
  height: 30%;
  width: 35%;
  color: black;
  font-weight: 400;
  font-family: Jost;
  position: absolute;
  z-index: 100;
  right: 50%;
  bottom: 0%;
  letter-spacing: 0.2rem;
}

@media screen and (max-width: 767px) {
  .search-input-container {
    display: none;
  }
  .search-banner-container {
    width: 50%;
  }
  .search-banner-link {
    width: 50%;
    right: 50%;
  }
  .img-banner-name {
    width: 50%;
    bottom: 10%;
  }
}
