.search-container {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  position: relative;
}

.search-input {
  outline: none;
  border: 1px solid var(--color-grey);
  width: 100%;
  height: 40px;
  margin-left: 2rem;
}

.search-img {
  object-fit: contain;
  height: 70%;
  width: 100%;
}
.search-banner-link {
  height: 100%;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
}

.search-banner-container {
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.search-input-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 30%;
}

.search-context-container {
  display: none;
}

.search-icon {
  position: absolute;
  right: 1rem;
  height: 100%;
  color: grey;
}

.img-banner-name {
  font-size: 0.9rem;
  text-align: center;
  width: 100%;
  height: auto;
  color: black;
  font-weight: 400;
  font-family: Jost;
  letter-spacing: 0.2rem;
}

@media screen and (max-width: 767px) {
  .search-input-container {
    display: none;
  }
  .search-banner-container {
    width: 100%;
    justify-content: center;
  }
  .search-banner-link {
    width: 50%;
  }
  .search-context-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 50px;
    top: 0px;
    left: 10px;
  }
  .search-context-icon {
    height: 25px;
    width: 25px;
  }
}
