.search-container {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  position: relative;
  background: #7e9163;
}

.search-input {
  outline: none;
  border: 1px solid var(--color-grey);
  /* width: 0%; */
  height: 40px;
  margin-left: 2rem;
  border-radius: 0.75rem;
}

.search-input.show {
  visibility: visible;
  width: 100%;
  transition: width 200ms ease-in-out;
}
.search-input.hide {
  width: 0%;
  visibility: hidden;
  transition: width 200ms ease-in-out;
}

.search-img {
  object-fit: contain;
  height: 70%;
  width: 100%;
}
.search-banner-link {
  height: 100%;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
}

.search-banner-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative;
  left: 12%; */
}

.search-input-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 30%;
  left: 0%;
}

.search-context-container {
  display: none;
}

.search-icon {
  position: absolute;
  /* right: 1rem; */
  height: 100%;
  color: black;
  width: 2.5rem;
  cursor: pointer;
}

.search-icon.left {
  left: 1rem;
}

.search-icon.right {
  right: 1rem;
}

.img-banner-name {
  font-size: 0.9rem;
  text-align: center;
  width: 100%;
  height: auto;
  color: black;
  font-weight: 400;
  font-family: Jost;
  letter-spacing: 0.2rem;
}

@media screen and (max-width: 767px) {
  .search-input-container {
    display: none;
  }
  .search-banner-container {
    width: 100%;
    justify-content: center;
  }
  .search-banner-link {
    width: 50%;
  }
  .search-context-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 50px;
    top: 0px;
    left: 10px;
  }
  .search-context-icon {
    height: 25px;
    width: 25px;
  }
}
